<article class="msg-ind">
    <h1><%= data.name %></h1>

    <div class="local">
    <h4><%= data.email %></h4>

    <p class="date"><%= data.createdAt.toDateString() %></p>
    </div>
    <p class="msg"><%= data.message %></p>
</article>