@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #313131;
  --gray-light: #ccc;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.15rem, 0.60vw + 1rem, 1.50rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #000;
  margin: 0;
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/img/rear.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}


a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

#searchClose {
  cursor: pointer;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 10px 12px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.btn-delete {
  padding: 10px 16px;
  background-color: var(--red);
}


img {
  width: 100%;
  height: auto;
}

.button {
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 10px 12px;
}
a.button{
  text-decoration: none;
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

/* Hero Section */
.hero-image {
  height: 500px;
  max-width: auto;
  margin: 0 auto;
  filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  border-radius: var(--border-radius);
}


/* Main Header */
.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logo button"
  "menu menu";
  padding-top: 10px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "logo menu button";
  }
}

.header-logo {
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  grid-area: logo;
  color: #ccc;
}

.header-logo:hover {
  text-decoration: underline;
}

.header-nav {
  justify-content: center;
  align-items: center;
  display: flex;
  grid-area: menu;
}

.header-logo, .header-nav, .header-button {
  width: 100%;
}

.header-button {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.header-button button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border: 0;
  padding: 6px 12px;
  background: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray-light);
}

.header-button button:hover {
  border: 2px solid var(--gray-light);
}

/* Header -> Navigation */
.header-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: 600;
  padding: 0;
}

.header-nav ul a {
  padding: 8px 20px;
  text-decoration: none;
  background-color: rgba(255,255,255, 0.2);
  border: 1px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.header-nav ul a.active {
  color: var(--gray-light);
}

.header-nav ul a:hover {
  text-decoration: underline;
}

/* Author - HomePage */
.author {
  padding: 10px 0;
  text-align: center;
  position: relative;
}

.author-heading {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #f4f4f4;
  text-shadow: black 1px 0 10px;
}

.author-body {
  font-size: var(--font-size-md);
  margin: 0 0 40px 0;
  font-weight: 600;
}


/* Home Article List */
.articles-heading {
  margin-top: 2rem;
  color: #ccc;
  
}

.article-ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
}

.article-list-date {
  font-size: 1rem;
  color: var(--gray);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list-date {
    text-align: right;
  }

}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.3s;
}

.article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--gray-light);
}

.article-ul li:hover {
  transition: 0.4s;
  transform: scale(1.02);
  filter: none;
}

.article-ul:hover li {
  filter: blur(3px);
}

.article-ul:hover li:hover {
  filter: none;
}


.article {
  /* white-space: pre-wrap; */
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 20px;
}

.article h1 {
  margin: 0;
}


/* Messages */
.msg-ind {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 20px;
}
.msg-ind h1 {
  margin: 0;
  color: #ccc;
}
.date h4, p{
  font-weight: 500;
  font-size: 15px;
}
.msg {
  font-size: 18px;
}

.local {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
.footer {
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 20px;
  margin: 4rem;
  text-align: center;
  font-weight: 600;
  color: #000;
}


/* About */
.about {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about h1 {
  color: #ccc;
  margin-bottom: 2px;
}

.about p {
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 20px;
  font-weight: 500;
}

/* Contact */

.contact {
  position: relative;
}
.contact h1 {
  color: #ccc;
  margin-bottom: 10px;
}

/* Dashboard Admin */

.container {
  position: relative;
}

form label {
  color: #ccc;
}

.admin-sign {
  position: relative;
}
.admin-sign h3 {
  color: #ccc;
}

.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 20px;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--black);
  color: var(--gray-light);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* SeachBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px);
  backdrop-filter: blur(5px);
  padding: 4px 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}


.searchBar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.searchBar input {
  margin: 0;
  border: 0;
}

#searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-dark);
  padding: 15px;
  font-weight: 600;
}


.pagination {
  font-size: 1.3rem;
  color: var(--gray);
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.pagination:hover {
  color: var(--black);
}
